// =============================================================================
// :: Grid
// =============================================================================

// =============================================================================
// :: Settings
// =============================================================================
$grid-columns: 12 !default;
$grid-fallback-spacing: 10px !default;

// =============================================================================
// :: Grid
// =============================================================================
.l-grid-table {
	grid-template-columns: repeat(12, [col-start] 1fr);
	display: grid;
	grid-gap: $grid-fallback-spacing;
	margin: 0;
	padding: 0;
}

// =============================================================================
// :: Elements
// =============================================================================
.l-grid-table__col {
	box-sizing: border-box;

	width: 100%;
}

// =============================================================================
// :: Modifiers
// =============================================================================
@for $i from 1 through $grid-columns {
	@for $j from 1 through $grid-columns {

		.l-grid-table__col--#{$i}--#{$j} {
			grid-column: col-start $j / span $i;
		}
	}

	.l-grid-table__row--#{$i} {
		grid-row-start: $i;
	}
}
