// =============================================================================
// :: Settings
// =============================================================================
$spacing-base: 3rem;

// =============================================================================
// :: Split
// =============================================================================
.l-split {
	display: flex;
	height: 100%;
}

// ============================================================================
// :: Elements
// ============================================================================
.l-split__left,
.l-split__right {
	width: 50%;
	padding-top: $spacing-base;
}

.l-split__left {
	padding-right: $spacing-base;

	border-right: $border-width-base solid $border-color-grey-76;
}

.l-split__right {
	padding-left: $spacing-base;
}

// ============================================================================
// :: Modifiers
// ============================================================================
.l-split__right--no-spacing {

	.l-split__content {
		width: 50vw;
		margin-left: -#{$spacing-base};
	}
}
