// =============================================================================
// :: Text overflow
// =============================================================================
@mixin extend-text-overflow() {
	width: 100%;
	overflow: hidden;

	text-overflow: ellipsis;
}
