// =============================================================================
// :: Error
// =============================================================================
.c-error {
	display: inline-flex;
	align-items: center;
	// added margin to correctly place the error message
	margin: 0.6rem 0 0 0.4rem;

	font-size: $font-size-2x-small;

	color: $ui-color-error-dark;
}

// =============================================================================
// :: Elements
// =============================================================================
.c-error__text {
	margin-left: 0.6rem;
}
