/* stylelint-disable declaration-no-important */

// =============================================================================
// :: Settings
// =============================================================================
$step: 1rem;
$amount: 12;

// =============================================================================
// :: Padding - top
// =============================================================================
@for $i from 1 through $amount {

	.u-padding-top-#{$i}x {
		padding-top: $i * $step !important;
	}
}

// =============================================================================
// :: Padding - bottom
// =============================================================================
@for $i from 1 through $amount {

	.u-padding-bottom-#{$i}x {
		padding-bottom: $i * $step !important;
	}
}

// =============================================================================
// :: Padding - right
// =============================================================================
@for $i from 1 through $amount {

	.u-padding-right-#{$i}x {
		padding-right: $i * $step !important;
	}
}

// =============================================================================
// :: Padding - left
// =============================================================================
@for $i from 1 through $amount {

	.u-padding-left-#{$i}x {
		padding-left: $i * $step !important;
	}
}

// =============================================================================
// :: Padding - none
// =============================================================================
.u-padding-none {
	padding: 0 !important;
}
