<div class="l-root">
	<div class="l-root__header">
		<ui-header backLink="/projects"></ui-header>
	</div>

	<main class="l-root__content u-margin-top-8x">
		<div class="l-grid l-grid--align-center">
			<div class="l-grid__col u-margin-top-2x">
				<ui-empty-state
					icon="exclamation-circle"
					message="Oops, there seems to be a problem"
				>
					We’re working on solving the problem
				</ui-empty-state>
			</div>

			<div class="l-grid__col--auto">
				<ui-button
					link="/projects"
				>
					GO BACK TO THE PROJECTS
				</ui-button>
			</div>
		</div>
	</main>
</div>
